# 在本项目中，我们进行如下简单配置，关于更多配置项信息，请前往官网查看 https://prettier.io/docs/en/options.html

# 格式化所有文件（. 表示所有文件）
# npx prettier --write

{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": false
}
